{
  "env": {
      "browser": true,
      "amd": true,
      "node": true
  },
  "extends": [
      "airbnb-base",
      "eslint:recommended",
      "plugin:node/recommended"
  ],
  /*"parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
  },*/
  /*"plugins": [
      "react"
  ],*/
  "rules": {
    /*"no-console": "off",
    "no-unused-vars": "off",*/
    "no-undef": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": "off"
    /*"javascript.validate.enable": "off",
    "javascript.suggestionActions.enabled": "off",
    "func-names": "off"*/
  }
}